In [1]:
def my_introduction():
    print("My name is John")
    print("I live in Boston")
    print("I am a data analyst and I love what I do!")

In [2]:
my_introduction()

My name is John
I live in Boston
I am a data analyst and I love what I do!

In [3]:
my_introduction()

My name is John
I live in Boston
I am a data analyst and I love what I do!

In [4]:
def hello_world():
    print("Welcome to Python!")
    
print("This is outside the function.")

This is outside the function.

In [5]:
hello_world()

Welcome to Python!

In [6]:
def will_not_work_function():
print("This function will not work.")

will_not_work_function()

IndentationError: expected an indented block after function definition on line 1 (3272337230.py, line 2)

In [7]:
def a_more_complicated_function():
    for i in range(10):
        print("i is now: ", i)

In [8]:
a_more_complicated_function()

i is now:  0
i is now:  1
i is now:  2
i is now:  3
i is now:  4
i is now:  5
i is now:  6
i is now:  7
i is now:  8
i is now:  9

In [9]:
def _Functions_Can_Be_NamedLikeThis_123():
    print("This works!")

In [10]:
_Functions_Can_Be_NamedLikeThis_123()

This works!

In [11]:
def 123this_will_not_work():
    print("Not gonna work :(")

SyntaxError: invalid decimal literal (1405928545.py, line 1)

### Functions

A function is saved in the `__main__` module, by default.

Add documentation to functions using `"""documentation"""` triple double quotes and access via `__doc__` attribute

Functions with errors can only be detected when invoked, not when it was just defined

In [12]:
def documented_function():
    """This function does something that is well documented"""
    print("Hello")

In [14]:
#function object - if () is omitted, function is not invoked
documented_function

In [15]:
documented_function.__doc__

'This function does something that is well documented'

In [16]:
another_function = documented_function

In [18]:
another_function

In [19]:
another_function()
documented_function()

Hello
Hello

In [20]:
name = "John"
city = "Toronto"

In [21]:
def introduction():
    print("My name is ", name)
    print("I live in ", city)

In [22]:
introduction()

My name is  John
I live in  Toronto

In [23]:
name = "Lily"
city = "New York"

In [24]:
introduction()

My name is  Lily
I live in  New York

In [25]:
name = "Lily"
city = "Seattle"

In [26]:
introduction()

My name is  Lily
I live in  Seattle

In [27]:
"a" + 2

TypeError: can only concatenate str (not "int") to str

In [28]:
def function_with_error():
    result = "a" + 2
    print(result)

In [29]:
function_with_error()

TypeError: can only concatenate str (not "int") to str