In [1]:
def introduction(name, city):
    print("Hello, my name is ", name)
    print("I live in ", city)

In [2]:
introduction()

TypeError: introduction() missing 2 required positional arguments: 'name' and 'city'

In [3]:
introduction("Joann")

TypeError: introduction() missing 1 required positional argument: 'city'

In [4]:
introduction("Joann", "San Jose")

Hello, my name is  Joann
I live in  San Jose

#### Keyword Arguments

In [7]:
introduction(city="San Jose", name="Joann")

Hello, my name is  Joann
I live in  San Jose

In [8]:
def total_score(math, physics, chemistry, biology):
    
    print("Math: ", math, "Physics: ", physics, "Chemistry: ", chemistry, "Biology: ", biology)
    return math + physics + chemistry + biology

In [9]:
total_score(100, 20, chemistry=78, biology=89)

Math:  100 Physics:  20 Chemistry:  78 Biology:  89

287

In [10]:
total_score(biology=100, math=20, chemistry=78, physics=89)

Math:  20 Physics:  89 Chemistry:  78 Biology:  100

287

In [11]:
def print_student_details(name, school, math, physics, chemistry, biology):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school)
    print("Score: ", total)

In [12]:
print_student_details("Alice", "Columbia", math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia
Score:  339

In [13]:
num_list = [3, 6, 1, 9, 5, 7]

sorted(num_list)

[1, 3, 5, 6, 7, 9]

In [14]:
sorted(num_list, reverse=False)

[1, 3, 5, 6, 7, 9]

In [15]:
sorted(num_list, reverse=True)

[9, 7, 6, 5, 3, 1]

In [16]:
print("Alice", "Peter", "Greg")

Alice Peter Greg

In [17]:
print("Alice", "Peter", "Greg", sep="|")

Alice|Peter|Greg

In [20]:
print("Alice", "Peter", "Greg", sep="|", end=" ***")

Alice|Peter|Greg ***

#### Default Arguments

All arguments with default values should be defined at the end of the argument list.

In [21]:
def print_student_details(name, school, math, physics, chemistry, biology, enrolled):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ", total)

In [22]:
print_student_details("Alice", "Columbia", math=100, physics=76, chemistry=64, biology=99, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  339

In [23]:
def print_student_details(name, school, math, physics, chemistry, biology, enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ", total)

In [24]:
print_student_details("Alice", "Columbia", math=100, physics=76, chemistry=64, biology=99, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  339

In [25]:
print_student_details("Alice", "Columbia", math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  339