In [8]:
def find_max_in_list(some_list):
    
    max_element = some_list[0]
    
    len_list = len(some_list)
    
    for i in range(len_list):
        print(f"some_list[{i}]: ",some_list[i])
        
        if some_list[i] > max_element:
            max_element = some_list[i]
            print("max_element: ",max_element)
    
    return max_element

In [9]:
find_max_in_list([5,2,28,17,33])

some_list[0]:  5
some_list[1]:  2
some_list[2]:  28
max_element:  28
some_list[3]:  17
some_list[4]:  33
max_element:  33

33

In [11]:
num_list = [5, 4, 6, 7, 2, 10, 11, 3]
max_element = find_max_in_list(num_list)

print(max_element)

some_list[0]:  5
some_list[1]:  4
some_list[2]:  6
max_element:  6
some_list[3]:  7
max_element:  7
some_list[4]:  2
some_list[5]:  10
max_element:  10
some_list[6]:  11
max_element:  11
some_list[7]:  3
11

In [12]:
num_list.append(24)
max_element = find_max_in_list(num_list)
max_element

some_list[0]:  5
some_list[1]:  4
some_list[2]:  6
max_element:  6
some_list[3]:  7
max_element:  7
some_list[4]:  2
some_list[5]:  10
max_element:  10
some_list[6]:  11
max_element:  11
some_list[7]:  3
some_list[8]:  24
max_element:  24

24

#### Multiple Return Values

Multiple return values from functions are in the tuple format.

In [13]:
def add_sub(x,y):
    
    add_result = x + y
    sub_result = x - y
    
    return add_result, sub_result

In [14]:
add_sub(5,4)

(9, 1)

In [15]:
result_1, result_2 = add_sub(5,4)
print(result_1)
print(result_2)

9
1

In [16]:
def positive_negative_zero(num):
    
    if num > 0:
        return "Positive!"
    
    elif num == 0:
        return "Zero"
    
    else:
        return "Negative"

In [17]:
num_type = positive_negative_zero(20)
num_type

'Positive!'

In [18]:
num_type = positive_negative_zero(-20001)
num_type

'Negative'

In [19]:
num_type = positive_negative_zero(0)
num_type

'Zero'

In [20]:
def find_max_in_list(some_list):
    
    len_list = len(some_list)
    
    if len_list == 0:
        print("Zero element list.")
        
        return None
    
    else:
        
        max_element = some_list[0]

        len_list = len(some_list)

        for i in range(len_list):
            print(f"some_list[{i}]: ",some_list[i])

            if some_list[i] > max_element:
                max_element = some_list[i]
                print("max_element: ",max_element)

        return max_element

In [21]:
max_element = find_max_in_list([])

Zero element list.

In [22]:
max_element

In [23]:
max_element = find_max_in_list([])
max_element

Zero element list.

In [26]:
max_element = find_max_in_list([1,2,5,11,1])
max_element

some_list[0]:  1
some_list[1]:  2
max_element:  2
some_list[2]:  5
max_element:  5
some_list[3]:  11
max_element:  11
some_list[4]:  1

11

In [43]:
def find_first_capital_letter(some_string):
    
    capital_letter = None
    length = len(some_string)
    
    for i in range(length):
        print(some_string[i])
        
        if some_string[i] == some_string[i].upper() and some_string[i] != " ":
            capital_letter = some_string[i]
            break
            
    if capital_letter is None:
        return "No capital letters."
    else:
        return capital_letter

In [46]:
upper_char = find_first_capital_letter("how are you")
upper_char

h
o
w

a
r
e

y
o
u

'No capital letters.'

In [47]:
def create_dict(name, age, occupation):
    
    dictionary = {
        "name": name,
        "age": age,
        "occupation": occupation
    }
    
    return dictionary

In [48]:
my_dict = create_dict("Alyssa", 23, "Typist")
my_dict

{'name': 'Alyssa', 'age': 23, 'occupation': 'Typist'}

In [49]:
def generate_list(name, num_of_elements):
    
    return_list = []
    
    for i in range(num_of_elements):
        return_list.append(name)
    
    return return_list

In [50]:
my_list = generate_list("Louis", 5)

In [51]:
my_list

['Louis', 'Louis', 'Louis', 'Louis', 'Louis']