In [1]:
def print_fn(string_1):
    
    print(string_1)

In [3]:
print_fn()

TypeError: print_fn() missing 1 required positional argument: 'string_1'

In [6]:
def print_fn(string_1="\n"):
    
    print(string_1)

In [7]:
print_fn()

### *args

Indicates that the function can be invoked with multiple number of arguments

The function receives the variable numbers of arguments as a tuple

In [8]:
def print_fn(*args):
    
    args_type=type(args)
    print(args_type)
    
    print(args)

In [10]:
print_fn()

<class 'tuple'>
()

In [11]:
print_fn("Bob")

<class 'tuple'>
('Bob',)

In [12]:
def print_fn(*names):
    
    args_type=type(names)
    print(args_type)
    
    print(names)

In [13]:
print_fn("Cherry","Mae")

<class 'tuple'>
('Cherry', 'Mae')

In [14]:
names_list = ["Greg", "Claudia", "Bob"]

print_fn(names_list)

<class 'tuple'>
(['Greg', 'Claudia', 'Bob'],)

In [15]:
print_fn(*names_list)

<class 'tuple'>
('Greg', 'Claudia', 'Bob')

In [24]:
def students_in_college(college, city, *students):
    
    print("College:",college)
    print("City:",city)
    print("Students:", students)

In [17]:
students_in_college()

TypeError: students_in_college() missing 2 required positional arguments: 'college' and 'city'

In [18]:
students_in_college("Columbia")

TypeError: students_in_college() missing 1 required positional argument: 'city'

In [21]:
students_in_college("Columbia", "New York")

College: Columbia
City: New York
Students: ( )

In [25]:
students_in_college("Columbia", "New York", "Bob")

College: Columbia
City: New York
Students: ('Bob',)

In [26]:
students_in_college("Columbia", "New York", "Peter", "Julie")

College: Columbia
City: New York
Students: ('Peter', 'Julie')

In [27]:
students_in_college(college="Columbia", city="New York", "Peter", "Julie")

SyntaxError: positional argument follows keyword argument (212635405.py, line 1)

In [29]:
def students_in_college(*students, college, city):
    
    print("College:",college)
    print("City:",city)
    print("Students:", students)

In [30]:
students_in_college("Peter", "Julie", college="Columbia", city="New York")

College: Columbia
City: New York
Students: ('Peter', 'Julie')

### **kwargs

Packs the variable length arguments into a dictionary not a tuple
keys = keyword of arguments
values = arguments

In [31]:
def student_details(**kwargs):
    
    kwargs_type=type(kwargs)
    print(kwargs_type)
    
    print(kwargs)

In [32]:
student_details()

<class 'dict'>
{}

In [33]:
student_details(name="John")

<class 'dict'>
{'name': 'John'}

In [34]:
student_details(name="John", age=10)

<class 'dict'>
{'name': 'John', 'age': 10}

In [35]:
details_dictionary = {"name": "Lily", "age": 25, "college":"Boston University"}

student_details(details_dictionary)

TypeError: student_details() takes 0 positional arguments but 1 was given

In [36]:
student_details(**details_dictionary)

<class 'dict'>
{'name': 'Lily', 'age': 25, 'college': 'Boston University'}

In [37]:
def student_details(**details):
    
    if 'name' in details:
        print("Name:", details['name'])
    
    if 'age' in details:
        print("Age:", details['age'])
    
    if 'college' in details:
        print("College:", details['college'])

In [38]:
student_details(name="Julia", age=41)

Name: Julia
Age: 41