In [1]:
def my_introduction():
    print("My name is John")
    print("I live in Boston")
    print("I am a data analyst and I love what I do!")

In [2]:
my_introduction()

My name is John
I live in Boston
I am a data analyst and I love what I do!

In [3]:
def introduction(name):
    print("Hello, my name is", name)
    print("I live and work in Dallas")

In [9]:
introduction("Lily")

Hello, my name is  Lily
I live and work in Dallas

In [6]:
def general_introduction(name, city):
    print("Hello, my name is", name)
    print("I live and work in", city)

In [7]:
general_introduction("Lily", "Tokyo")

Hello, my name is Lily
I live and work in Tokyo

In [18]:
general_introduction(city="Dublin",name="John")

Hello, my name is John
I live and work in Dublin

In [12]:
my_introduction("Lily")

TypeError: my_introduction() takes 0 positional arguments but 1 was given

In [13]:
introduction("Lily", "San Francisco")

TypeError: introduction() takes 1 positional argument but 2 were given

In [14]:
general_introduction("Lily")

TypeError: general_introduction() missing 1 required positional argument: 'city'

In [22]:
def square(x):
    print(f"The square of {x} is {x**2}")

square(3)

The square of 3 is 9

In [23]:
num = 25
square(num)

The square of 25 is 625

#### Global Variables
Global variables are variables declared outside a function.

In [24]:
salary = 1000
expense = 300

def my_savings(a, b):
    print("My total savings: ", salary - expense)

In [25]:
my_savings(10, 20)

My total savings:  700

In [26]:
def my_actual_savings(a, b):
    print("My total savings: ", a - b)

In [27]:
my_actual_savings(salary,expense)

My total savings:  700

In [28]:
my_actual_savings(10, 20)

My total savings:  -10

In [29]:
def calculate_savings(salary, expense):
    print("My total savings: ", salary - expense)

In [30]:
salary = 2000
expense = 700

calculate_savings(salary, expense)

My total savings:  1300

In [38]:
def print_many_times(string,times):
    """
        Prints the specified string the specified number of times
        
        First argument: The string you want printed
        Second argument: The number of times the string should be printed
        
        Parameters (both required):
        string(str): The string you want printed
        times(int): The number of times the string should be printed
        
        Returns:
        No return value
    """
    for i in range(times):
        print(string)

In [39]:
print_many_times("Hello", 5)

Hello
Hello
Hello
Hello
Hello

In [41]:
print(print_many_times.__doc__)

        Prints the specified string the specified number of times

        First argument: The string you want printed
        Second argument: The number of times the string should be printed

        Parameters (both required):
        string(str): The string you want printed
        times(int): The number of times the string should be printed

        Returns:
        No return value

In [44]:
def print_higher_number(a, b):
    
    if a > b:
        print("The higher number is:",a)
        
    else:
        print("The higher number is:",b)

In [45]:
print_higher_number(20, 30)

The higher number is: 30

In [46]:
def print_higher_number_with_error(a, b):
    
    if a > b:
        print("The higher number is:",a)
        
    else:
        print("The higher number is:",b)
        result = b + "a"

In [47]:
print_higher_number_with_error(10, 20)

The higher number is: 20

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
 def length(some_list):
        
    count = 0
    for i in some_list:
        count += 1
            
    return count
    print(count)

In [4]:
length([1,2,3,4,5])

5

In [12]:
num = length([1,2,3,4,5])

In [13]:
num

5