### Variables

Variables are containers for any value.

User can always update the value that the variables hold.

Variables are assigned using `=` sign.

Characters allowed in variable names: A-Z, a-z, 0-9, _
Variable names should start with letters and _ only.

In [5]:
salary = 24000

In [4]:
house_rent = 10000

food_exp = 5000

In [6]:
total_expense = house_rent + food_exp

total_expense

15000

In [7]:
savings = salary - total_expense

savings

9000

In [8]:
print("My savings in a year is: ", savings)

My savings in a year is:  9000

In [9]:
course_fee = 299
num_of_months = 6

In [10]:
total_fee = course_fee * num_of_months
print(total_fee)

1794

In [11]:
num_1 = 2
num_2 = 2

print(num_1+num_2)

4

In [13]:
total = num_1 + num_2
print(total)

4

### Logical operators: and, or, not

Using the logical operator keywords will always evaluate boolean values.

In [16]:
x = True
y = False

In [18]:
print('x and y is: ', x and y)

x and y is:  False

In [19]:
print('x and y is: ', x or y)

x and y is:  True

In [20]:
print('not x is: ', not x)

not x is:  False

In [21]:
x = 'awesome'
x

'awesome'

In [24]:
print('Python is ' + x)

Python is awesome

In [27]:
x = "Python is "
y = "awesome "

z = x + y

print(z)

Python is awesome

In [28]:
a = z * 4

print(a)

Python is awesome Python is awesome Python is awesome Python is awesome

In [29]:
len(x)

10

Assigning values to variables are evaluated from right to left.

`x = y = z = 'Python'`

Python is assigned to z.

z is assigned to y.

y is assigned to x.

In [30]:
x = y = z = 'Python'

print(x)
print(y)
print(z)

Python
Python
Python

In [31]:
b = x + y
b

'PythonPython'

### Comparison operators

Comparison operators always result to boolean values.

In [32]:
x = y==z

print(x)

True

Commas can also be used to separate assignment of values to variables accordingly.

In [33]:
a, b, c = 5, 3.2, "Hello"

print(a)
print(b)
print(c)

5
3.2
Hello

In [34]:
n1 = 34
n2 = 34.5
n3 = 100

In [35]:
s1 = 'Hello'
s2 = 'World'

In [36]:
total_n = n1 + n2 + n3
total_n

168.5

In [38]:
n1 = n1 + 1

n1

36

In [39]:
n1 += n1 + 1

In [40]:
n1

73

In [41]:
n2 += 10

In [42]:
n2

44.5

In [43]:
n3 *= 50 
n3

5000