### Range Function

range(start, stop(exclusive), step)

In [1]:
my_range = range(5)

my_range

range(0, 5)

In [2]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [4]:
tuple(range(3,12,2))

(3, 5, 7, 9, 11)

In [5]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [2]:
my_string = "ABCDEFGHIJKLMNOP"

for i, char in enumerate(my_string):
    for index in range (0, len(my_string), 2):
        if i == index:
            print(i, char)

0 A
2 C
4 E
6 G
8 I
10 K
12 M
14 O

#### Factorial

In [6]:
num = int(input("Enter a number: "))

factorial = 1
for i in range(1, num + 1):
    factorial *= i
    print(i, factorial)

Enter a number: 7
1 1
2 2
3 6
4 24
5 120
6 720
7 5040

In [8]:
x = range(5)
y = reversed(x)

print(list(y))

[4, 3, 2, 1, 0]

In [9]:
tuple(range(5, -10, -2))

(5, 3, 1, -1, -3, -5, -7, -9)

In [10]:
num_list = []

for i in range(1, 21):
    if (i%3 == 0 or i%5 == 0):
        num_list.append(i)
        
print(num_list)

[3, 5, 6, 9, 10, 12, 15, 18, 20]

In [16]:
items = []

for i in range(100, 301):
    
    num_str = str(i)
    
    first_digit = int(num_str[0])
    second_digit = int(num_str[1])
    third_digit = int(num_str[2])
    if (first_digit % 2 == 0) and (second_digit % 2 == 0) and (third_digit % 2 == 0):
        items.append(num_str)

print(", ".join(items))

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

In [26]:
for num_1 in range(1, 10):
    print("num = ", num_1, end = " :")
    
    for num_2 in range(1, 10):
        print("{:2d}" .format(num_1 * num_2), end = " ")
    
    print()

num =  1 : 1  2  3  4  5  6  7  8  9
num =  2 : 2  4  6  8 10 12 14 16 18
num =  3 : 3  6  9 12 15 18 21 24 27
num =  4 : 4  8 12 16 20 24 28 32 36
num =  5 : 5 10 15 20 25 30 35 40 45
num =  6 : 6 12 18 24 30 36 42 48 54
num =  7 : 7 14 21 28 35 42 49 56 63
num =  8 : 8 16 24 32 40 48 56 64 72
num =  9 : 9 18 27 36 45 54 63 72 81

Print the cubes of all the elements in a list using a for-loop

In [33]:
num_list = [1, 2, 3, 4, 5, 6]

for num in num_list:
    print(num**3)

1
8
27
64
125
216

Given the following 2-D list, create a 1-D list containing all of the automobile company names

In [30]:
cars = [["Volkswagen", "Mercedes", "BMW"],
       ["Honda", "Toyota", "Mazda"]]

new_cars = []

for sublist in cars:
    for car in sublist:
        new_cars.append(car)
        
print(new_cars)

['Volkswagen', 'Mercedes', 'BMW', 'Honda', 'Toyota', 'Mazda']

In [32]:
years = range(2000,2100)

for year in years:
    if year % 4 == 0:
        print(year)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096