In [2]:
for letter in "Hello":
    print(letter)

H
e
l
l
o

In [3]:
my_string = "Hello World"

for char in my_string:
    print(char)

H
e
l
l
o

W
o
r
l
d

In [4]:
for digit in "10":
    print(digit)

1
0

In [5]:
for digit in 10:
    print(digit)

TypeError: 'int' object is not iterable

In [6]:
for country in "Germany", "India", "Israel":
    print(country)

Germany
India
Israel

In [7]:
dogs = ("Pug", "Doberman", "Golden Retriever")

for dog in dogs:
    print(f"It's a {dog}.")

It's a Pug.
It's a Doberman.
It's a Golden Retriever.

### Enumerate

The enumerate() function adds a counter to an iterable and returns it (the enumerate object).

In [19]:
dog_weight = (("Pug", 20),
             ("Doberman", 80),
             ("Golden Retriever", 55))

dogs = enumerate(dog_weight)
print(tuple(dogs))

for i, (dog, weight) in enumerate(dog_weight):
    print(f"The dog at index {i} is a {dog} weighing {weight} pounds.")

((0, ('Pug', 20)), (1, ('Doberman', 80)), (2, ('Golden Retriever', 55)))
The dog at index 0 is a Pug weighing 20 pounds.
The dog at index 1 is a Doberman weighing 80 pounds.
The dog at index 2 is a Golden Retriever weighing 55 pounds.

In [20]:
friends = ["John", "Sam", "Jill"]

for friend in friends:
    print("Happy New Year, ", friend)

Happy New Year,  John
Happy New Year,  Sam
Happy New Year,  Jill

In [23]:
student_scores = {"John": 80,
                 "Sam": 60,
                 "Jill": 50,
                 "Bob": 96}

for student in student_scores:
    print(student)
    
for student in student_scores.values():
    print(student)

John
Sam
Jill
Bob
80
60
50
96

In [24]:
student_scores = {"John": 80,
                 "Sam": 60,
                 "Jill": 50,
                 "Bob": 96}

for student in student_scores:
    print(student, ":", student_scores[student])

John : 80
Sam : 60
Jill : 50
Bob : 96

In [25]:
student_scores.items()

dict_items([('John', 80), ('Sam', 60), ('Jill', 50), ('Bob', 96)])

In [31]:
student_scores = {"John": 80,
                 "Sam": 60,
                 "Jill": 50,
                 "Bob": 96}

for student in student_scores.items():
    print(student)
    
print("\n")

for student, score in student_scores.items():
    print(student, ":", score)

('John', 80)
('Sam', 60)
('Jill', 50)
('Bob', 96)


John : 80
Sam : 60
Jill : 50
Bob : 96

In [34]:
numbers = [4, 6, 9, 10]

for num in numbers:
    quotient = num // 2
    print(num,"/ 2 is ", quotient)

4 / 2 is  2
6 / 2 is  3
9 / 2 is  4
10 / 2 is  5

In [35]:
mixed_list = [145, 10.5, 1+3j, True, "Python", (0, 1), [2, -5], {"Class": "V", "Section": "A"}]

for items in mixed_list:
    print(items, ":", type(items))

145 : <class 'int'>
10.5 : <class 'float'>
(1+3j) : <class 'complex'>
True : <class 'bool'>
Python : <class 'str'>
(0, 1) : <class 'tuple'>
[2, -5] : <class 'list'>
{'Class': 'V', 'Section': 'A'} : <class 'dict'>

In [37]:
dog_weight = (("Pug", 20),
             ("Doberman", 80),
             ("Golden Retriever", 55))

for name, age in dog_weight:
    print(name + str(age))

Pug20
Doberman80
Golden Retriever55

In [39]:
string = input("Enter a string: ")

count = 0

for char in string:
    count += 1
    
print(count)

Enter a string: hello
5

In [40]:
numbers = [2, 3, 5, 7]

for num in numbers:
    print(num)
    
else:
    print("No more items left in the list.")

2
3
5
7
No more items left in the list.

In [42]:
us_cities = ["New York", "Nashville", "Seattle"]

for city in us_cities:
    if city == "New York":
        print("New York is in the list.")

New York is in the list.

In [43]:
years = [2016, 2017, 2018, 2019, 2020]

for year in years:
    if year % 4 == 0:
        print(year, "is a leap year.")
    else:
        print(year, "is not a leap year.")

2016 is a leap year.
2017 is not a leap year.
2018 is not a leap year.
2019 is not a leap year.
2020 is a leap year.

In [44]:
names = [["Mary", "Linda", "Jessica"],
        ["James", "Jacob","William"]]

for sublist in names:
    print (sublist)

['Mary', 'Linda', 'Jessica']
['James', 'Jacob', 'William']

In [45]:
names = [["Mary", "Linda", "Jessica"],
        ["James", "Jacob","William"]]

for x, y, z in names:
    print(x)
    print(y)
    print(z)

Mary
Linda
Jessica
James
Jacob
William

In [47]:
names = [["Mary", "Linda", "Jessica"],
        ["James", "Jacob"]]

for sublist in names:
    for name in sublist:
        print(name)

Mary
Linda
Jessica
James
Jacob

In [50]:
color_list = ["Red", "Green", "Blue"]
obj_list = ["Pen", "Marker", "Pencil", "Pad"]

combinations = 0

for color in color_list:
    for obj in obj_list:
        print(color, obj)
        combinations += 1

print(combinations)

Red Pen
Red Marker
Red Pencil
Red Pad
Green Pen
Green Marker
Green Pencil
Green Pad
Blue Pen
Blue Marker
Blue Pencil
Blue Pad
12