In [1]:
salary = int(input("Enter monthly salary: "))
expenses = int(input("Enter monthly expenses: "))

savings = salary - expenses

print("Your monthly savings is %s." %(savings))

Enter monthly salary: 50000
Enter monthly expenses: 25000
Your monthly savings is 25000.

In [2]:
first_num = int(input("Enter first number: "))
second_num = int(input("Enter second number: "))

print("Exchanging numbers...")
first_num = first_num + second_num
second_num = first_num - second_num
first_num = first_num - second_num


print("First number: ", first_num)
print("Second number: ", second_num)

Enter first number: 21
Enter second number: 7
Exchanging numbers...
First number:  7
Second number:  21

In [3]:
num = int(input("Enter a number: "))

n = str(num)
nn = int(n+n) #concatenate n twice then convert to int 
nnn = int(n+n+n)

total = num + nn + nnn

print("Total: ", total)

Enter a number: 2
Total:  246

In [9]:
num1 = int(input("Enter first number: " ))
num2 = int(input("Enter second number: " ))

quotient = num1 // num2
remainder = num1 % num2

print(quotient)
print(remainder)

Enter first number: 13
Enter second number: 4
3
1

In [12]:
principal = float(input("Enter principal amount: "))
time = int(input("Enter time (years): "))
rate = float(input("Enter interest rate: "))

interest = principal * rate * time
print(interest)

Enter principal amount: 800
Enter time (years): 6
Enter interest rate: 0.03
144.0

In [17]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

cars_list_temp = cars_list[0]
cars_list[0] = cars_list[2]
cars_list[2] = cars_list_temp

cars_list

['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [18]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]
print("Before: ", cars_list)

camry = 0
civic = 2

cars_list[civic], cars_list[camry] = cars_list[camry], cars_list[civic]

print("After: ", cars_list)

Before:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
After:  ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [19]:
list_student = ["Sofia", "Ella", "Samuel", "Ella", "Aiden", "Sofia"]
og_list = len(list_student)

set_student = set(list_student)
new_list = len(set_student)

print("Number of duplicates: ", og_list - new_list)

Number of duplicates:  2

In [20]:
num_value = 50

if num_value % 2 == 0:
    print("The number is an even number.")

else:
    print("The number is an odd number.")

The number is an even number.

In [22]:
values = input("Enter some comma-separated numbers: ")

list_value = values.split(",")
tuple_value = tuple(list_value)

print("List: ", list_value)
print("Tuple: ", tuple_value)

Enter some comma-separated numbers: 10,20,30,40,50
List:  ['10', '20', '30', '40', '50']
Tuple:  ('10', '20', '30', '40', '50')

In [25]:
sentence = input("Enter some whitespace-separated words: ")

words = sentence.split(" ")

sorted_words = sorted(set(words))

set_words = " ".join(sorted_words)

print(set_words)

Enter some whitespace-separated words: Apple apple Banana banana
Apple Banana apple banana

In [26]:
num_dict = dict()

num_dict[1] = 1 
num_dict[2] = 2 ** 2
num_dict[3] = 3 ** 2

num_dict

{1: 1, 2: 4, 3: 9}

In [31]:
string_1 = input("Enter first string: ")
string_2 = input("Enter second string: ")

set_1 = set(string_1)
set_2 = set(string_2)

common_char = set_1.intersection(set_2)

print(list(common_char))

Enter first string: hello
Enter second string: python
['h', 'o']

In [33]:
list_num = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

len_of_list = len(list_num)

half = int(len_of_list/2)

list_num1 = list_num[:half]
list_num2 = list_num[half:]

print(list_num1)
print(list_num2)

[10, 11, 12, 13, 14, 15]
[16, 17, 18, 19, 20, 21]

In [38]:
num = float(input("Enter a number: "))

if num == 0:
    print("Number is zero.")
    
elif num > 0:
    print("Number is positive.")
    
else:
    print("Number is negative.")

Enter a number: -12
Number is negative.

In [43]:
num1 = float(input("Enter your first number: "))
num2 = float(input("Enter your second number: "))
operator = input("Operator: ")

if operator == "+":
    print (f"{num1} + {num2} = {num1 + num2}")
elif operator == "-":
    print (f"{num1} - {num2} = {num1 - num2}")
elif operator == "*":
    print (f"{num1} * {num2} = {num1 * num2}")
elif operator == "/":
    print (f"{num1} / {num2} = {num1 / num2}")
else:
    print("This is not a valid operator.")

Enter your first number: 27
Enter your second number: 12
Operator: *
27.0 * 12.0 = 324.0

In [47]:
human_age = int(input("Enter dog's age in human years: "))

if human_age <= 2 and human_age > 0:
    dog_age = human_age * 10.5
    print(f"Dog age: {dog_age}")
    
elif human_age > 2:
    dog_age = (2 * 10.5) + ((human_age - 2) * 4)
    print(f"Dog age: {dog_age}")

else:
    print("Age must be a positive number.")

Enter dog's age in human years: 3
Dog age: 25.0

In [51]:
alphabet = input("Enter a letter: ")

if alphabet.lower() in ["a", "e", "i", "o", "u"]:
    print("Letter is a vowel.")

else:
    print("Letter is a consonant.")

Enter a letter: n
Letter is a consonant.

In [53]:
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))

if a == b == c:
    print("Equilateral triangle")

elif a == b or a == c or b == c:
    print("Isosceles triangle")
    
else:
    print("Scalene triangle")

a: 10
b: 12
c: 14
Scalene triangle

In [58]:
str_value = input("Enter the string: ")
print(str_value)
rev_str = str_value[::-1]
print(rev_str)

if str_value == rev_str:
    print("Palindrome!")

else:
    print("Not a palindrome.")

Enter the string: madam
madam
madam
Palindrome!