In [1]:
type(66)

int

In [2]:
float(66)

66.0

In [3]:
a = 66
type(a)

int

In [4]:
my_float = float(a)

In [5]:
my_float

66.0

In [6]:
type(my_float)

float

In [7]:
type(390.8)

float

float to int - rounds down and truncates at the decimal

float + int = float

In [8]:
int(390.8)

390

In [9]:
b = 66.6
my_int = int(b)
my_int

66

In [10]:
num_int = 76
num_float = 23.4

print("data type of num_int:", type(num_int))
print("data type of num_float:", type(num_float))

data type of num_int: <class 'int'>
data type of num_float: <class 'float'>

In [11]:
new_num = num_int + num_float

print(new_num)
print("data type of new_num:",type(new_num))

99.4
data type of new_num: <class 'float'>

In [12]:
int('12')

12

In [13]:
a = '66'

type(a)

str

In [14]:
my_int = int(a)
my_int

66

In [15]:
num_int = 123
num_str = "456"

print(num_int + num_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
num_str = int(num_str)
print(num_int + num_str)

579

In [17]:
my_float = 5524.53

print("John has " + my_float + " points.")

TypeError: can only concatenate str (not "float") to str

In [18]:
print("John has " + str(my_float) + " points.")

John has 5524.53 points.

In [19]:
print("John has ", my_float, " points.")

John has  5524.53  points.

In [20]:
number = input()
type(number)

22

str

In [21]:
plus_ten = number + 10

TypeError: can only concatenate str (not "int") to str

In [24]:
number = int(input())
plus_ten = number + 10
print("Total is " + str(plus_ten))

22
Total is 32

In [25]:
number = int(input())
plus_ten = number + 10
print("Total is %s" %(plus_ten))

22
Total is 32

In [26]:
number = int(input())
plus_ten = number + 10
print(f"Total is {plus_ten}")

22
Total is 32

In [29]:
num = 20

if type(num) == int:
    print("True")

True

In [30]:
value_str = "python world"
value_list = list(value_str)
value_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [31]:
value_tup = tuple(value_str)

In [32]:
value_tup

('p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd')

In [35]:
set('apple')

{'a', 'e', 'l', 'p'}

In [36]:
hex(50)

'0x32'

In [37]:
hex(60)

'0x3c'

In [38]:
oct(50)

'0o62'

In [39]:
oct(0x3c)

'0o74'

In [40]:
int(0o74)

60

In [43]:
int('0o74', 8)

60

In [44]:
ord('a')

97

In [45]:
chr(100)

'd'

In [46]:
chr(97)

'a'

In [47]:
complex(1j)

1j

In [48]:
complex(10+1j)

(10+1j)