In [1]:
fruit_list = ["apple", "orange", "grape", "banana", "avocado"]

In [2]:
if "grape" in fruit_list:
    print("Yes, grape is in the fruit list.")
    
else:
    print("No, grape is not in the fruit list.")

Yes, grape is in the fruit list.

In [3]:
if fruit_list[1] == "orange":
    print("True")

else:
    print("False")

True

In [4]:
if fruit_list[4] == "avocado":
    print("Yes, avocado is at the fourth index.")
    print("Replacing avocado with strawberry")
    fruit_list[4] = "strawberry"
    print(fruit_list)

else:
    print("Avocado is not at the fourth index.")

Yes, avocado is at the fourth index.
Replacing avocado with strawberry
['apple', 'orange', 'grape', 'banana', 'strawberry']

In [5]:
salary_details ={"Lisa": 25000,
                 "Jason": 45000,
                 "Cooper": 35000,
                 "Elias": 23000,
                 "Jordan": 77000}

In [6]:
if "Lisa" in salary_details.keys():
    print("Yes, Lisa is a key.")
    
else:
    print("No, Lisa is not a key.")

Yes, Lisa is a key.

In [7]:
if "Cora" in salary_details.keys():
    print("We have the salary details for Cora")
    
else:
    salary_details["Cora"] = 31000
    print("Cora's salary is ", salary_details["Cora"],"." )
    print(salary_details)

Cora's salary is  31000 .
{'Lisa': 25000, 'Jason': 45000, 'Cooper': 35000, 'Elias': 23000, 'Jordan': 77000, 'Cora': 31000}

In [8]:
details = [["Jane", "Amanda", "Emma"],
          [35, 40, 50],
          [20000, 50000, 40000]]

In [9]:
max_sal = max(details[2])

if (details[2][1] == max_sal):
    if (details[1][1] > 30):
        print(details[0][1], "has the highest salary and her age is greater than 30.")
    
    elif (details[1][1] == 30):
        print(details[0][1], "has the highest salary and her age is 30.")
        
    else:
        print("Amanda has the highest salary and her age is less than 30.")
else:
    print("Amanda is not the highest paid employee.")

Amanda has the highest salary and her age is greater than 30.